@media only screen and (max-width:850px)
{
    .navigation li, #forecast-section, #forecast-header, #contact-section img{
        display: none;
    }
   
    header img{
        width:100px;
    
}

    .responsive li{
        display:block;
        padding:5px;
    }
    ul.responsive{
        flex-direction: column;
        text-align:center;
        padding: 5px;
    }
   .pictures{
    grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px 300px 300px;
    padding: 20px; 
   }

}