/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color:red;
  }

  .picture{

  background-color: white;
  position: relative;
  width: 110px;
  border-style: solid;
  margin-left: 800px;
  box-shadow: 2px 2px;
  }
