/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color:rgb(7, 7, 7);
  }

 header{
    
    border-radius: 15px;
    max-width: 100%;
    height: 55px;
    background-color: #928677;
    padding-top: 10px;
    padding-left: 15px;
  
  }

  footer {
  
    border-radius: 15px;
    max-width: 100%;
    height: 55px;
    background-color: #928677;
    padding-top: 10px;
    padding-left: 15px;
    text-justify: center;
      
  }
  
#name{

  margin-top: 5px;
  margin-left: 75px;

}
img{

margin-right: auto;
margin-top: -75px;
width: 100px;
height: 150px;

}

hr{

  display: black;
  margin-block-start: auto;
  margin-inline-end:  auto;
  overflow:  hidden;
  border-width: 2pt;



}
