body{
    font: size 20;
    font-family: 'Roboto Slab', serif;
    margin:16px;
}

h1{
    text-align: center;
}
main{
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 1fr 1fr 1fr;
    line-height:25px;
    
}


section{
    background-color: #92a2cc;
    padding:15px;
    border-style:hidden;
    border-radius:5px;
    
}

main{
     margin: auto;
}
 h2, h3
 { 

    text-align: center;    
     
  color: #333;
       
  color: #333;
     
 }


 .sites{

     margin:auto;
     display:flex;
     justify-content: center;
     align-items: flex-end;
 }


 
img{

    width: 400px;
     margin:auto;
     display:flex;
     justify-content: center;
 }

button {

    align-items: center;
    display: flex;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    color: #333;
    background-color: #ccbc92;
    border: black;
    border-radius: 15px;
  }
  