
/* Media Query for medium + screens */
@media only screen and (max-width: 32.5em) {
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: #000;
	}
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {

	main picture {
		display: block;
	}

	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

