body{
    display:block;
    margin: 0 auto;
}

h1 picture{

    margin: 20px;
    display: grid;

}

picture img[data-src]{
    filter: blur(0.2em);
}

picture img{
    
    max-width: 300px;
    height: 400px;
    filter: blur(0em);
    transition: filter 1.0s;

}



